<div class="container-fluid">
  <header>
    <img class="headerLogo" src="../../assets/img/logo-coders-dating.png" alt="logo">
  </header>
  <div class="hero-image">
    <div class="hero-text">
      <h1 style="font-size:50px">Welcom to our Website</h1>
    </div>
  </div>
  <div class="container-fluid">
    <div *ngIf="appState == 'default'" class="row">
      <div class="col-lg-12">
        <label>Select Gender
          <select (change)="filtergender(filteredgender.value)" #filteredgender>
            <option value="0">Not Specified</option>
            <option *ngFor="let gender of genders" value="{{gender.name}}">
              {{gender.name}}
            </option>
          </select>
        </label>
      </div>
    </div>
    <hr>
    <div class="container-fluid">
      <div class="row media col-lg-3 col-md-6 col-sm-12" *ngFor="let item of items">
        <div class="media-left col-lg-6 col-md-6 col-sm-12 col-xs-6">
          <img class="card-img-top" src={{item.image}} width="100" height="130">
        </div>
        <div class="media-body col-lg-6 col-md-6 col-sm-12 col-xs-6">
        </div>
        Name: <strong>{{item.name}}</strong>
        <br> Surname: <strong>{{item.surname}}</strong>
        <br> Age: <strong>{{item.age}}</strong>
        <br> Gender: <strong>{{item.gender}}</strong>
        <br> In Ralationship: <strong>{{item.inRelation}}</strong>
      </div>
      <!-- <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 " *ngFor="let item of items">
          <div class="card">
            <div>
              <img class="card-img-top" src={{item.image}} width="100" height="130">
              <span>
          <div class="card-body" >

            Name: <strong>{{item.name}}</strong>
              <br>
            Surname: <strong>{{item.surname}}</strong>
              <br>
            Age: <strong>{{item.age}}</strong>
              <br>
            Gender: <strong>{{item.gender}}</strong>
              <br>
            In Ralationship:  <strong>{{item.inRelation}}</strong>
          </div>
         </span>
            </div>
          </div>
        </div> -->
      </div>
      <footer>
        <hr>
        <br>
        <img src="../../assets/img/logo-coders-dating-footer.png">
      </footer>
    </div>
